@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;

  background-color: #3e7ea7;
}

/* header */

header {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img img {
  width: 90px;
  height: 90px;
  mix-blend-mode: multiply;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
.h2 {
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: 0.2vw;
  color: #014e77;
}
.h3 {
  font-size: 1rem;
  color: rgba(74, 72, 72, 0.875);
  text-align: center;
}
/* main section css */

main {
  width: 100%;
  height: fit-content;
  background-color: #3e7ea7;
  display: flex;
  justify-content: center;
}
section {
  width: 90%;
  height: fit-content;
  background-color: #f9f9f8;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.799);
  display: flex;
  margin-bottom: 17px;
}
.box1 {
  width: 40%;
  height: fit-content;
  padding-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}
.fieldset1 {
  width: 80%;
  height: fit-content;
  margin: 0px 0;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #696969;
  box-shadow: 1px 1px 2px rgb(117, 116, 116);
}
.btn1 {
  width: 26vw;
  height: 3.5vw;
  margin: 10px;
  background-color: #ff5733;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 120ms ease-in-out 120ms;
}
.btn1:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.btn1 a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: #014e77;
}
.fieldset2 {
  width: 80%;
  height: fit-content;
  margin: 0px 0;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid #696969;
  box-shadow: 1px 1px 2px rgb(117, 116, 116);
}
.label1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 15px;
}
label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 4px;
}
input,
select {
  width: 26vw;
  height: 3.5vw;
  background-color: #f9f9f8;
  margin-top: 0px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 2px 2px 5px gray;
}
select:hover,
input:hover {
  border: 2px double #c386ba;
}
::placeholder {
  color: #181818;
}
.login {
  width: 26vw;
  height: 3.5vw;
  margin-top: 25px;
  margin-bottom: 7px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  transition: all 120ms ease-in-out 120ms;
}
.login:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.login a {
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
}

.box2 {
  width: 60%;
  height: 37.8vw;
}
.box2 img {
  width: 100%;
  height: 37.8vw;
  background-size: cover;
}
.fg {
  padding-top: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
@media (max-width: 480px) {
  /* body {
    width: 100%;
    background-color: #007bff;
  } */
  header {
    width: 100%;
    height: 58vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0;
  }
  .img img {
    width: 15vw;
    height: 15vw;
    mix-blend-mode: multiply;
  }
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1 {
    font-size: 3.5vw;
    font-weight: bold;
  }
  .h2 {
    font-size: 5.5vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
    color: #014e77;
  }
  .h3 {
    font-size: 3vw;
    color: rgba(74, 72, 72, 0.875);
    text-align: center;
  }
  body {
    background-color: #3e7ea7;
  }
  main {
    width: 100%;
    height: 145vw;
    background-image: url(clg\ img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  section {
    width: 95%;
    height: fit-content;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.799);
    display: flex;
    margin-bottom: 17px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .box1 {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
  }
  .box2 {
    display: none;
    width: 60%;
    height: 37.8vw;
  }
  .box2 img {
    width: 100%;
    height: 37.8vw;
    background-size: cover;
  }
  .fieldset1 {
    width: 95%;
    height: fit-content;
    margin: 0px 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px rgb(117, 116, 116);
  }
  legend {
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-shadow: 4px -2px 4px rgb(255, 255, 255);
  }
  .btn1 {
    width: 80vw;
    height: 12vw;
    margin: 10px;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 120ms ease-in-out 120ms;
  }
  .btn1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .btn1 a {
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: 600;
    color: #ffffff;
  }
  .fieldset2 {
    width: 95%;
    height: fit-content;
    margin: 0px 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px rgb(117, 116, 116);
  }
  .label1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
  }
  label {
    width: fit-content;
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 4px;
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(0px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  input,
  select {
    width: 80vw;
    height: 12vw;
    font-size: 2.5vw;
    background-color: #f9f9f8;
    margin-top: 0px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px gray;
  }
  select:hover,
  input:hover {
    border: 2px double #c386ba;
  }
  ::placeholder {
    color: #181818;
  }
  .login {
    width: 80vw;
    height: 12vw;
    margin-top: 25px;
    margin-bottom: 7px;
    border: none;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 120ms ease-in-out 120ms;
  }
  .login:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .login a {
    font-size: 3.5vw;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
  }
  .fg {
    padding-top: 5px;
    font-size: 3.5vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-shadow: 4px -2px 4px rgb(255, 255, 255);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  header {
    width: 100%;
    height: 58vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0;
  }
  .img img {
    width: 15vw;
    height: 15vw;
    mix-blend-mode: multiply;
  }
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1 {
    font-size: 3.5vw;
    font-weight: bold;
  }
  .h2 {
    font-size: 5.5vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
    color: #014e77;
  }
  .h3 {
    font-size: 3vw;
    color: rgba(74, 72, 72, 0.875);
    text-align: center;
  }
  body {
    background-color: #3e7ea7;
  }
  main {
    width: 100%;
    height: fit-content;
    background-image: url(clg\ img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  section {
    width: 95%;
    height: fit-content;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.799);
    display: flex;
    margin-bottom: 17px;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .box1 {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
  }
  .box2 {
    display: none;
    width: 60%;
    height: 37.8vw;
  }
  .box2 img {
    width: 100%;
    height: 37.8vw;
    background-size: cover;
  }
  .fieldset1 {
    width: 95%;
    height: fit-content;
    margin: 0px 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px rgb(117, 116, 116);
  }
  legend {
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-shadow: 4px -2px 4px rgb(255, 255, 255);
  }
  .btn1 {
    width: 80vw;
    height: 12vw;
    margin: 10px;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 120ms ease-in-out 120ms;
  }
  .btn1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .btn1 a {
    text-decoration: none;
    font-size: 3.5vw;
    font-weight: 600;
    color: #ffffff;
  }
  .fieldset2 {
    width: 95%;
    height: fit-content;
    margin: 0px 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px rgb(117, 116, 116);
  }
  .label1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
  }
  label {
    width: fit-content;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 4px;
    backdrop-filter: blur(0px) saturate(180%);
    -webkit-backdrop-filter: blur(0px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  input,
  select {
    width: 80vw;
    height: 12vw;
    font-size: 2.5vw;
    background-color: #f9f9f8;
    margin-top: 0px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px gray;
  }
  select:hover,
  input:hover {
    border: 2px double #c386ba;
  }
  ::placeholder {
    color: #181818;
  }
  .login {
    width: 80vw;
    height: 12vw;
    margin-top: 25px;
    margin-bottom: 7px;
    border: none;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 120ms ease-in-out 120ms;
  }
  .login:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .login a {
    font-size: 3.5vw;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
  }
  .fg {
    padding-top: 5px;
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-shadow: 4px -2px 4px rgb(255, 255, 255);
  }
}
@media (min-width: 769px) and (max-width: 1336px) {
  header {
    width: 100%;
    height: 10.5vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: unset;
  }
  .img img {
    width: 7vw;
    height: 7vw;
    mix-blend-mode: multiply;
  }
  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .h1 {
    font-size: 2vw;
    font-weight: bold;
  }
  .h2 {
    font-size: 2.5vw;
    font-weight: bolder;
    letter-spacing: 0.1vw;
    color: #014e77;
  }
  .h3 {
    font-size: 1.2vw;
    color: rgba(74, 72, 72, 0.875);
    text-align: center;
  }
  section {
    width: 90%;
    height: fit-content;
    background-color: #f9f9f8;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.799);
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }
  .box1 {
    width: 50%;
    height: fit-content;
    padding-bottom: 10px;
  }
  legend {
    font-size: 2.7vw;
    font-weight: bold;
    color: #014e77;
  }
  .btn1 {
    width: 32vw;
    height: 5vw;
    margin: 10px;
    background-color: #ff5733;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 120ms ease-in-out 120ms;
  }
  .btn1 a {
    text-decoration: none;
    font-size: 2vw;
    font-weight: 500;
    color: #ffffff;
  }
  input,
  select {
    width: 32vw;
    height: 5vw;
    font-size: 1.6vw;
    background-color: #f9f9f8;
    margin-top: 0px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px gray;
  }
  label {
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .login {
    width: 32vw;
    height: 5vw;
    margin-top: 20px;
    margin-bottom: 7px;
    border: none;
    background-color: #007bff;
    border-radius: 5px;
    transition: all 120ms ease-in-out 120ms;
  }
  .login a {
    font-size: 2vw;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
  }
  .box2 {
    width: 50%;
    height: 58vw;
  }
  .box2 img {
    width: 100%;
    height: 58vw;
    background-size: cover;
  }
  .fg {
    padding-top: 5px;
    font-size: 1.7vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
}
